.DS_Store

*.log

__pycache__/
*.py[cod]
.venv/
venv/
.env

.vscode/

dist/
build/
EOF

data/
dice-website/

*_cache*
!openalex_cache_keys.py
!migrate_cache_to_db.py

smush_rewrite.py
align.py

*.sqlite

tentris_

logs